.hudContainer {
  position: absolute;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  top: 0.35rem;
  background: #2020209a;
  border-radius: 0.25rem;
  border: 1px solid #666;
  color: white;
  gap: 0.25rem;
}

.hudElement {
  display: flex;
  padding: 0.5rem;
  font-size: 0.85rem;
  font-weight: 600;
}
