.uiControl {
  position: fixed;
  z-index: 19;
  background: #2f2f4a59;
  border: 1px solid #999999af;
  border-radius: 1rem;
  font-size: 1.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffffc0;
  width: 3.5rem;
  height: 3.5rem;
  text-align: center;

  backdrop-filter: blur(4px);
  box-shadow: 2px 2px 6px rgba(10, 10, 20, 0.15);
  transition: all 0.2s ease;
}

.uiControl:hover {
  background: #4c5c7f9f;
}

.masterVolumeToggleButton {
  top: 1rem;
  right: 1rem;
}

.touchControlArrLeft {
  width: 3rem;
  height: 3rem;
  bottom: 4rem;
  left: 1rem;
}

.touchControlArrTop {
  width: 3rem;
  height: 3rem;
  bottom: 7rem;
  left: 4rem;
}

.touchControlArrRight {
  width: 3rem;
  height: 3rem;
  bottom: 4rem;
  left: 7rem;
}

.touchControlArrBottom {
  width: 3rem;
  height: 3rem;
  bottom: 1rem;
  left: 4rem;
}
