.uiControl {
  position: fixed;
  z-index: 19;
  background: #2f2f4a59;
  border: 1px solid #999999af;
  border-radius: 1rem;
  font-size: 1.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffffc0;
  width: 50px;
  height: 50px;
  text-align: center;

  backdrop-filter: blur(4px);
  box-shadow: 2px 2px 6px rgba(10, 10, 20, 0.15);
  transition: opacity 0.2s ease;
}

.uiControlActive {
  opacity: 0.5;
}

.fullScreenButton {
  left: 50%;
  margin-left: -25px;
  top: 10px;
}

.masterVolumeToggleButton {
  top: 10px;
  right: 10px;
}

.sleepUntilNightButton {
  top: 10px;
  right: 70px;
}

.shootButtonLeft {
  background: #4f2f2a59;
  bottom: calc(22px + 128px + 10px);
  left: 1rem;
}
.shootButtonRight {
  background: #4f2f2a59;
  bottom: calc(22px + 128px + 10px);
  right: 1rem;
}

.joystick {
  position: fixed;
  z-index: 19;
  background: #e2e2e625;
  border: 2px solid #9999999f;
  bottom: 20px;
  width: 128px;
  height: 128px;
  border-radius: 50%;
  opacity: 0.55;
  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 2px 2px 6px rgba(10, 10, 20, 0.15);
  transition: opacity 0.2s ease;
}

.joystick::before {
  z-index: 20;
  background: #9999999f;
  display: block;
  content: "";
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.joystick.joystickActive::before {
  background: #797979cf;
}

.joystickActive {
  opacity: 1;
}

.joystickLeft {
  left: 20px;
}
.joystickRight {
  right: 20px;
}
