.startGameContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2a2a2af8;
  z-index: 25;
  display: flex;
  place-items: center;
}

.startGameText {
  display: block;
  text-align: center;
  font-weight: bold;
  width: 100%;
  font-size: 21px;
}

.nightOverlay {
  display: block;
  position: absolute;
  z-index: 1;
  background: #030403;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: opacity ease-in 0.8s;
  opacity: 0;
}

.uiText {
  color: black;
  font-size: 11px;
  line-height: 1.2;
  margin: 0;
  font-weight: 600;
}

.uiTitle {
  display: block;
  color: black;
  font-size: 12px;
  margin: 0;
  font-weight: bolder;
  border-bottom: 1px solid #6a6a6a;
  margin-bottom: 3px;
}

.contentContainer {
  background: white;
  opacity: 0.5;
  border-radius: 4px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.8);
  padding: 3px 6px;
  display: flex;
  flex-direction: column;
}
