:root {
  user-select: none;
  cursor: crosshair;
  font-family: Avenir, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

#ui-container {
  position: fixed;
  left: 0;
  right: 0;
  opacity: 0;
  height: 100%;

  transition: opacity 0.2s ease;
}

.pregame-menu {
  width: 100%;
  z-index: 101;
  background: #000;
  display: flex;
  justify-content: center;
  color: #888;
  max-height: 100%;
  overflow-y: auto;
}
.pregame-menu__container {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  min-width: 320px;
  max-width: 500px;
  width: 80%;
}
.pregame-menu__title {
  color: #ccc;
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  text-align: center;
}
.pregame-menu__group-title {
  margin: 0;
  text-align: left;
  font-size: 16px;
  font-weight: normal;
}
.pregame-menu__group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}
.pregame-menu__lng-btn {
  display: flex;
  font-weight: normal;
  font-size: 14px;
  appearance: none;
  border: none;
  background: #444;
  padding: 4px 12px;
  justify-content: center;
  border-radius: 16px;
}
.pregame-menu__lng-btn.active {
  background: #933;
  font-weight: bold;
}
.pregame-menu__launch-btn {
  background: #933;
  border: none;
  border-radius: 30px;
  font-size: 15px;
  padding: 12px 16px;
  appearance: none;
  display: flex;
  justify-content: center;
  flex-grow: 1;
}
.pregame-menu__fullscreen-btn {
  border: 2px solid #ccc;
  color: #ccc;
  background: none;
  padding: 4px 12px;
  appearance: none;
  display: flex;
  justify-content: center;
  font-size: 14px;
  appearance: none;
  border-radius: 16px;
}
.pregame-menu__separator {
  display: block;
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #888;
}
input[type="range"] {
  accent-color: #933;
  height: 4px;
}

.hidden {
  display: none;
}
