:root {
  user-select: none;
  cursor: crosshair;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: -0.2px;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000;

  --color-border: #888;
  --color-text: #ccc;
  --color-text-dimmed: #888;
  --color-accent: #933;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  height: 100%;
  font-size: 18px;
}

*,
*::before,
*::after {
  font-family: "Syne Mono", monospace;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

#ui-container {
  position: fixed;
  left: 0;
  right: 0;
  opacity: 0;
  height: 100%;

  transition: opacity 0.2s ease;
}

.pregame-menu {
  width: 100%;
  z-index: 101;
  color: var(--color-text-dimmed);
  height: 100%;
  overflow-y: auto;
  flex-direction: column;
  /* eslint-disable css/no-important */
  display: flex !important;
  justify-content: center;
}
@keyframes zoom-in-out {
  0% {
    transform: scale3d(1.04, 1.04, 1.04) rotateZ(2deg);
  }
  50% {
    transform: scale3d(1.02, 1.02, 1) rotateZ(0deg);
  }
  100% {
    transform: scale3d(1.04, 1.04, 1.04) rotateZ(2deg);
  }
}
@keyframes corrupt {
  0%,
  100% {
    transform: translate(0) scale(1);
    filter: brightness(1);
  }
  10% {
    transform: translate(-10px, 5px) scale(1.05, 0.95);
    filter: brightness(1.3);
  }
  20% {
    transform: translate(8px, -3px) scale(0.98, 1.02);
    filter: brightness(0.7);
  }
  30% {
    transform: translate(-5px, -8px) scale(1.02, 0.98);
    filter: brightness(1.5);
  }
  40% {
    transform: translate(12px, 4px) scale(0.95, 1.03);
    filter: brightness(0.9);
  }
  50% {
    transform: translate(-3px, 6px) scale(1.01, 0.99);
    filter: brightness(1.2);
  }
  60% {
    transform: translate(6px, -10px) scale(0.97, 1.04);
    filter: brightness(0.8);
  }
  70% {
    transform: translate(-8px, 2px) scale(1.03, 0.96);
    filter: brightness(1.4);
  }
  80% {
    transform: translate(4px, -6px) scale(0.99, 1.01);
    filter: brightness(1.1);
  }
  90% {
    transform: translate(-6px, 8px) scale(1.02, 0.97);
    filter: brightness(0.85);
  }
}
@keyframes scan-line {
  0% {
    transform: translateY(-300%);
  }
  100% {
    transform: translateY(110vh);
  }
}
.pregame-menu__scan-line::before {
  content: "";
  display: block;
  position: fixed;
  z-index: -10;
  top: 0;
  left: 0;
  width: 100%;
  height: 20vh;
  mix-blend-mode: multiply;
  background: #ffffff40;
  opacity: 0.15;
  animation: scan-line 5s infinite ease-out;
  animation-direction: alternate;
}
.pregame-menu__scan-line::after {
  content: "";
  display: block;
  position: fixed;
  z-index: -10;
  top: 0;
  left: 0;
  width: 100%;
  height: 30vh;
  mix-blend-mode: multiply;
  backdrop-filter: contrast(5) saturate(2);
  background: #ffffff10;
  opacity: 0.15;
  animation: scan-line 3s infinite linear;
}
.pregame-menu__background,
.pregame-menu__background::before,
.pregame-menu__background::after {
  display: block;
  z-index: -200;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  background: url(/images/menu_bg.jpg);
  background-size: cover;
  background-position: center;
  opacity: 0.6;
  animation: zoom-in-out 4s infinite ease-in-out;
}
.pregame-menu__background::before {
  content: "";
  animation: corrupt 0.3s infinite steps(1);
  opacity: 0.15;
  clip-path: inset(0% 25% 40% 10%);
}
.pregame-menu__background::after {
  content: "";
  opacity: 0.15;
  animation: corrupt 0.5s infinite steps(1);
  clip-path: inset(34% 2% 10% 0);
}
.pregame-menu__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  width: 600px;
  padding: 1rem;
  margin: 0 auto;
  background: #20202078;
  border-radius: 2rem;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 3rem rgba(0, 0, 0, 0.4);
}
.pregame-menu__title-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pregame-menu__version {
  color: var(--color-text-dimmed);
  font-size: 0.65rem;
  margin: 0;
  position: absolute;
  left: 70%;
  display: block;
  border: 1px solid #80808078;
  background: #80808028;
  padding: 0.35rem;
  border-radius: 0.5rem;
}
.pregame-menu__title {
  color: var(--color-text);
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0;
  text-align: center;
}
.pregame-menu__group-title {
  margin: 0;
  text-align: left;
  font-size: 1rem;
  font-weight: normal;
}
.pregame-menu__group,
.pregame-menu__group--inline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  padding: 0 0.5rem;
}
.pregame-menu__group--inline {
  flex-direction: column;
  width: 100%;
  gap: 0;
}
.pregame-menu__lng-btn {
  display: flex;
  font-weight: normal;
  font-size: 0.8rem;
  appearance: none;
  border: none;
  background: #444;
  padding: 4px 12px;
  justify-content: center;
  border-radius: 16px;
}
.pregame-menu__lng-btn.active {
  background: var(--color-accent);
  font-weight: bold;
}
.pregame-menu__launch-btn {
  background: var(--color-accent);
  border: none;
  border-radius: 30px;
  font-size: 15px;
  padding: 12px 16px;
  appearance: none;
  display: flex;
  justify-content: center;
  flex-grow: 1;
}
.pregame-menu__fullscreen-btn {
  border: 2px solid var(--color-text);
  color: var(--color-text);
  background: none;
  padding: 4px 12px;
  appearance: none;
  display: flex;
  justify-content: center;
  font-size: 14px;
  appearance: none;
  border-radius: 16px;
}
.pregame-menu__separator {
  display: block;
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed var(--color-border);
}
.pregame-menu__volume-slider {
  accent-color: var(--color-accent);
  height: 4px;
  flex: 1;
}
.pregame-menu__external-links {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: -1rem;
}
.pregame-menu__link {
  color: var(--color-text-dimmed);
  font-size: 0.8rem;
  font-weight: 100;
}

.hidden {
  /* eslint-disable css/no-important */
  display: none !important;
}
.grow {
  flex-grow: 1;
  width: 100%;
}

.game-over {
  display: flex;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 102;
  justify-content: center;
  align-items: center;
  backdrop-filter: saturate(0.35) brightness(0.65);
}
.game-over__container {
  padding: 1.5rem;
  border-radius: 1rem;
  background: #1f1a1aef;
  backdrop-filter: blur(2px);
  border: 1px solid #cacaca50;
  width: 100%;
  max-width: 330px;
  box-shadow: 0 0 4rem #000000aa;
}
.game-over__title {
  font-size: 1.4rem;
  text-align: center;
}
.game-over__subtitle {
  font-size: 0.85rem;
  text-align: center;
  color: var(--color-text-dimmed);
  border-bottom: 1px solid var(--color-text-dimmed);
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
}
.game-over__stats {
  display: flex;
  border-bottom: 1px solid var(--color-text-dimmed);
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
}
.game-over__stat-row {
  flex: 1 0 auto;
  padding: 0.25rem 0;
}
.game-over__stat-row:nth-child(2) {
  text-align: center;
}
.game-over__stat-row:nth-child(3) {
  text-align: right;
}
.game-over__stat-key {
  font-size: 0.75rem;
  font-weight: 900;
  color: var(--color-text-dimmed);
}
.game-over__actions {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}
.game-over__action-btn {
  background: var(--color-accent);
  border: none;
  border-radius: 2rem;
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
}
