:root {
  user-select: none;
  cursor: crosshair;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: -0.2px;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000;

  --color-border: #888;
  --color-text: #ccc;
  --color-text-dimmed: #888;
  --color-accent: #933;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  height: 100%;
  font-size: 18px;
}

*,
*::before,
*::after {
  font-family: "Syne Mono", monospace;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

#ui-container {
  position: fixed;
  left: 0;
  right: 0;
  opacity: 0;
  height: 100%;

  transition: opacity 0.2s ease;
}

.pregame-menu {
  width: 100%;
  z-index: 101;
  color: var(--color-text-dimmed);
  height: 100%;
  overflow-y: auto;
  flex-direction: column;
  display: flex;
}
@keyframes zoom-in-out {
  0% {
    transform: scale3d(1, 1, 1);
  }
  50% {
    transform: scale3d(1.08, 1.08, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
.pregame-menu::before {
  content: "";
  z-index: -200;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  background: url(/images/menu_bg.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  opacity: 0.3;
  filter: blur(2px);
  animation: zoom-in-out 6s infinite ease-in-out;
}
.pregame-menu__container {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  min-width: 300px;
  max-width: 500px;
  width: 80%;
  padding: 48px 0;
  margin: 0 auto;
}
.pregame-menu__version {
  color: var(--color-text-dimmed);
  font-size: 0.75rem;
  margin: -1.5rem 0 0;
  text-align: center;
}
.pregame-menu__title {
  color: var(--color-text);
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0;
  text-align: center;
}
.pregame-menu__group-title {
  margin: 0;
  text-align: left;
  font-size: 1rem;
  font-weight: normal;
}
.pregame-menu__group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}
.pregame-menu__lng-btn {
  display: flex;
  font-weight: normal;
  font-size: 0.8rem;
  appearance: none;
  border: none;
  background: #444;
  padding: 4px 12px;
  justify-content: center;
  border-radius: 16px;
}
.pregame-menu__lng-btn.active {
  background: var(--color-accent);
  font-weight: bold;
}
.pregame-menu__launch-btn {
  background: var(--color-accent);
  border: none;
  border-radius: 30px;
  font-size: 15px;
  padding: 12px 16px;
  appearance: none;
  display: flex;
  justify-content: center;
  flex-grow: 1;
}
.pregame-menu__fullscreen-btn {
  border: 2px solid var(--color-text);
  color: var(--color-text);
  background: none;
  padding: 4px 12px;
  appearance: none;
  display: flex;
  justify-content: center;
  font-size: 14px;
  appearance: none;
  border-radius: 16px;
}
.pregame-menu__separator {
  display: block;
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed var(--color-border);
}
input[type="range"] {
  accent-color: var(--color-accent);
  height: 4px;
}

.hidden {
  display: none;
}
