:root {
  user-select: none;
  cursor: crosshair;
  font-family: Avenir, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

#ui-container {
  position: fixed;
  left: 0;
  right: 0;
  opacity: 0;
  height: 100%;

  transition: opacity 0.2s ease;
}

.pregame-menu {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 101;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #aaa;
}
.pregame-menu__container {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  min-width: 320px;
  max-width: 768px;
  width: 80%;
}
.pregame-menu__title {
  color: #ccc;
  font-size: 42px;
  font-weight: bold;
  margin: 0;
  text-align: center;
}
.pregame-menu__group-title {
  margin: 0;
  text-align: center;
  font-size: 20px;
  font-weight: normal;
}
.pregame-menu__group {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.pregame-menu__lng-btn {
  margin-top: 8px;
  display: flex;
  font-weight: normal;
  font-size: 16px;
  appearance: none;
  border: none;
  background: #222;
  padding: 4px 12px;
  justify-content: center;
  border-radius: 16px;
}
.pregame-menu__lng-btn.active {
  background: #ccc;
  color: #222;
  font-weight: bold;
}
.pregame-menu__launch-btn {
  background: #369;
  border: none;
  border-radius: 30px;
  font-size: 18px;
  padding: 12px 16px;
  appearance: none;
  display: flex;
  justify-content: center;
  max-width: 450px;
  width: 100%;
  margin: 0 auto;
}
.pregame-menu__separator {
  display: block;
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #555;
}

.hidden {
  display: none;
}
